$main-gray:   #8d8771;
$alt-gray:    #aaa595;
$alt-gray-2:  #bab6ab;
$light-gray:  #e9e8e1;
$mid-red:     #892428;
$dark-red:    #350101;
$light-blue:  #62c9d2;
$gold:        #d4a00f;

// ======

.white      { color: white; }
.gray       { color: $main-gray; }
.light-blue { color: $light-blue; }