footer {
  padding: 30px 0;
  background: $main-gray; }

.footer-talk {
  margin-top: 2px;
  text-transform: uppercase;
  font-family: 'Gothic-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 19px;
  letter-spacing: -1px;
  line-height: 1.2; }

a.footer-phone {
  color: white;
  text-decoration: none; }

a.no-decor {
  color: white;
  text-decoration: none; }

.bp1-col-bdr-lr-1 {
  border-left: none;
  border-right: none;
  @include breakpoint($bp2) {
    border-left: 2px solid $alt-gray;
    border-right: 2px solid $alt-gray; } }

.mob-div {
  display: block;
  width: 85px;
  height: 2px;
  margin: 0 auto;
  background-color: $alt-gray; 
  @include breakpoint ($bp1) {
    display: none; } }

.mob-div-top {
  margin-top: 35px;
  margin-bottom: 20px; }

.mob-div-bottom {
  margin-top: 15px;
  margin-bottom: 30px; }