.feat-box {
  position: relative;
  padding: 45px 20px;
  height: auto;
  background-color: $light-gray;
  /* Expand box to full width of viewport - more info here: */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px solid $light-gray;
    box-shadow: 9999px 0 0 $light-gray; } 
  @include breakpoint($bp2) {
    padding: 47px 20px 30px;
    height: 363px;
    &:before {
      border-left: none;
      left: 0;
      box-shadow: none; } } }

// Highlight .feat-box when linked to from anchor tag
:target {
  -webkit-animation: highlight 2s ease;  
  -moz-animation: highlight 2s ease;     
}
@-webkit-keyframes highlight {
  0% { background-color: $alt-gray; }
  100% { background-color: $light-gray; /* Same as .feat-box background */ }
}
@-moz-keyframes highlight {
  0% { background-color: $alt-gray; }
  100% { background-color: $light-gray; /* Same as .feat-box background */ }
}

.triangle-l {
  display: none;
  @include breakpoint($bp2) {
    display: block;
    width: 0; 
    height: 0; 
    border-bottom: 45px solid $dark-red; 
    border-left: 19px solid transparent; 
    position: absolute;
    left: -19px;
    top: 0;
    z-index: 100; /* displayed under box */ } }

.triangle-r {
  display: none;
  @include breakpoint($bp2) {
    display: block;
    width: 0; 
    height: 0; 
    border-bottom: 45px solid $dark-red; 
    border-right: 19px solid transparent; 
    position: absolute;
    right: -19px;
    top: 0;
    z-index: 100; /* displayed under box */ } }

.path-wrap {
  display: none;
  position: relative;
  @include breakpoint($bp2) {
    display: block; } }

.path {
  position: absolute;
  top: -336px;
  left: 59px; }

.col-fixed-1 {
  margin: 0 auto;
  max-width: 240px;
  height: auto;
  @include breakpoint($bp2) {
    height: 290px;
    overflow: hidden; } }

.bg-gray {
  background: $light-gray; }

.img-bdr-1 { border: 1px solid $main-gray; }
.img-bdr-2 { border: 2px solid $main-gray; }
.img-bdr-3 { border: 3px solid $main-gray; }
.img-bdr-4 { border: 4px solid $main-gray; }
.img-bdr-5 { border: 5px solid $main-gray; }
.img-bdr-8 { border: 8px solid $main-gray; }

.quote-circle {
  height: 42px;
  width: 42px;
  padding: 27px 9px 9px;
  background: $light-blue;
  border: 3px solid #040505;
  text-align: center;
  font-size: 36px;
  line-height: 0;
  color: black;
  @include box-shadow(inset 2px 0px 1px rgba(255, 255, 255, 1));
  @include border-radius(42px); }

.bg-friends {
  width: 100%;
  padding: 70px 0;
  background: url('../img/banner-different-path-675x650.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  a { 
    color: white;
    text-decoration: none; 
    &:hover {
      text-decoration: none;
      color: $gold; } }
  @include breakpoint($bp1) {
    width: 100%;
    padding: 70px 0;
    background: url('../img/banner-different-path-1400x900.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top; } } 

.ministry-icon {
  width: 90px;
  height: 110px }

.ministry-icon-alt {
  width: 105px;
  height: 110px }